    <section class="modald">
    <div class="modal__container">
        <h2 class="modal__title">Eliminar Producto</h2>
        <form id="formdelete" action="/delete/" method="get">
        <p class="modal__paragraph">
            ¿Estás seguro de eliminar este producto con id?
        </p>
        
        <p class="modal__paragraph" id="idValue"></p>
        <div>
            <button type="submit" style="border: none"><a class="modal__refresh">SI</a></button>
            <a href="#" class="modald__close">NO</a>
            </form>
        </div>
      
    </div>
</section>