  
   <section class="modala">
        <div class="modal__container">
            <h2 class="modal__title">Agregar Producto</h2>
            <form action="/add" method="post">
            <p class="modal__paragraph">
                <label for="">Nombre</label>
                <input type="text" name="nombre_pr">
                <label for="">Descripcion</label>
                <input type="text" name="description_pr">
                <label for="">Precio con descuento</label>
                <input type="text" name="price_pr">
                <label for="">Precio anterior</label>
                <input type="text" name="price_ant_pr">
                <label for="">Imagen1</label>
                <input type="file" name="image_1_pr" accept="image/*">
                <label for="">Imagen2</label>
                <input type="file" name="image_2_pr" accept="image/*">
                <label for="">Imagen3</label>
                <input type="file" name="image_3_pr" accept="image/*">
                <label for="">Imagen4</label>
                <input type="file" name="image_4_pr" accept="image/*">
                </p>
            <button style="border: none"><a class="modal__refresh">Agregar</a></button>
            <a href="#" class="modala__close">Cerrar</a>
            </form>
        </div>
    </section>